@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
    background-color: azure;
    min-height: 100vh;
    /* display: flex;
    justify-content: center; */
}
.auth-section{
    background-color: azure;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-image:url('./src/assets/City_Landscape_Background.jpg') ;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}