@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App{
    background-color: azure;
    min-height: 100vh;
    font-family: "Work sans",sans-serif;
}

.css-b62m3t-container{
    width: 100%;
}
.chat-Navbar{
    height: 50px;
}



#chatScroll{
    overflow-y: scroll;
    height: 85%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chatScroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chatScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.userItem{
    background-color: #e2e3e5;
    height: 50px;
}
.userItem:hover{
 color: white;
 background-color: teal;
}

