@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
    background-color: azure;
    min-height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
}
.auth-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-image:url('./src/assets/City_Landscape_Background.jpg') ;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}
.otp-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#phoneInput{
    border: 0.5px solid #E0E0E0;
    border-radius: 0.3rem;
}

#phoneError{
    border: 0.5px solid red;
    border-radius: 0.3rem;
}
#addressError{
    width: 90%;
    border: 0.5px solid red;
    border-radius: 0.3rem;
}


#chatScroll{
    overflow-y: scroll;
    height: 85%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chatScroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chatScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#userItem{
    background-color: #e2e3e5;
}
#userItem:hover{
 color: white;
 background-color: teal;
}